<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/02280d45a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Login Page</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

    <style></style>
  </head>
  <body>
    <div class="login-container">
      <h2>Login Form</h2>
      <span>Stock & Inventory management system</span>
      <form action="#" id="form">
        <div class="input">
          <input id="user" type="text" placeholder="username / Email" />
          <div class="password">
            <input type="password" id="password" placeholder="password" />
            <i id="eye" class="fa-regular fa-eye"></i>
          </div>
        </div>
        <div class="checkbox">
          <input type="checkbox" /> <label for="#">Remember me</label>
        </div>
        <button type="submit">Submit</button>

        <p id="errorMessage"></p>
        <p>Don't have an account <a href="/signup">Create One</a></p>
      </form>
    </div>

    <script>
      let form = document.getElementById("form");
      let eye = document.getElementById("eye");
      let password = document.getElementById("password");
      let user = document.getElementById("user");
      let errorMessage = document.getElementById("errorMessage");

      eye.addEventListener("click", () => {
        if (password.type === "password") {
          password.type = "text";
          eye.classList.remove("fa-eye");
          eye.classList.add("fa-eye-slash");
        } else {
          password.type = "password";
          eye.classList.remove("fa-eye-slash");
          eye.classList.add("fa-eye");
        }
      });

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        if (user.value.trim() === "" || password.value.trim() === "") {
          errorMessage.innerHTML = "Invalid username/password";
          return;
        }

        if (user.value.includes("@") && !user.value.includes(".")) {
          errorMessage.innerHTML = "invalid email";
          return;
        }

        // authentication
        let loginData = {
          username: user.value,
          password: password.value,
        };

        // sends request to flask
        let response = await fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(loginData),
        });

        let data = await response.json();

        if (data.success) {
          errorMessage.style.color = "green";
          errorMessage.innerHTML = data.message;
          form.reset();

          window.location.href = "/dashboard";
        } else {
          errorMessage.style.color = "red";
          errorMessage.innerHTML = data.message;
        }
      });
    </script>
  </body>
</html>
